<div class='container'>
    <div class='row'>
        <img src='/assets/img/149342.png' />
    </div>
    <div class='row'>
        <div class='col-sm-6' id='made-burgers'>
            <ul id='burger-list'>
                {{#each list}}
                {{#unless devoured}}
                <li>
                    <p>{{id}}. {{burger_name}}</p>
                    <button class='btn btn-warning'>Eat it!</button>
                </li>
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class='col-sm-6' id='eaten-burgers'>
            <ul>
                {{#each list}}
                {{#if devoured}}
                <li>{{id}}. {{burger_name}}
                    <p>(Eaten!)</p>
                </li>
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
    <div class='row'>
        <div class='col-sm-12 d-flex justify-content-center'>
            <form id='burger-form'>
                <label for='burger-text'>Enter your burger here!</label>
                <textarea id='burger-text'></textarea>
                <button class='btn btn-primary' id='create-burger'>Create Burger!</button>
            </form>
        </div>
    </div>
</div>