<img src='../public/assets/img/burger.png' />

<div class='container'>
    <div class='row'>
        <div class='col-sm-6' id='made-burgers'>
            <ul>
                {{#each list}}
                <li>{{id}}. {{burger_name}}
                    <button class='btn btn-warning'>Devour it!</button>
                </li>
                {{/each}}
            </ul>
        </div>
        <div class='col-sm-6' id='eaten-burgers'>blabla</div>
    </div>
    <div class='row'>
        <div class='col-sm-12 d-flex justify-content-center'>
            <form id='burger-form'>
                <label for='burger-text'>Enter your burger here!</label>
                <textarea id='burger-text'></textarea>
                <button class='btn btn-primary' id='create-burger'>Create Burger!</button>
            </form>
        </div>
    </div>
</div>